__pycache__
LITReview/reviews/__pycache__/
LITReview/reviews/migrations/__pycache__/
LITReview/reviews/templatetags/__pycache__/
LITReview/static/img/.DS_Store
LITReview/authentication/migrations/__pycache__/
LITReview/authentication/__pycache__/
LITReview/__pycache__/
.idea/
env/
LITReview_P9_Django.code-workspace
.DS_Store
LITReview/.DS_Store
