// Login view Variables //

$login-color-body: black;
$login-color: white;
$login-color-field: #f1f1f1;
$login-color-font: black;
$login-color-error: red;

$login-font-family: 'Inconsolata', monospace;

// Site view Variables //

$site-color-body: black;
$site-color: white;
$site-color-font: black;

$site-color-button: $site-color-body;
$site-color-button-edit: blue;
$site-color-button-delete: red;
$site-color-font-button: white;
$site-color-field: #f1f1f1;

$site-font-family: 'Inconsolata', monospace;

$action-button-bg: black;
$action-buton-color-font: white;

$logo-font: 'Times sans serif';
