{% extends 'base.html' %}
{% block content %}
    <h2>Créer un ticket</h2>
    <form class="posting-form" method="post" enctype="multipart/form-data">

        <p>
            <label for="{{ form.title.label }}">Title&nbsp;:</label>
            <br>
            {{ form.title }}
        </p>
        <p>
            <label for="{{ form.description.label }}">Description&nbsp;:</label>
            <br>
            {{ form.description }}
        </p>
        <p>
            <label>Image:</label>
            <br>
            {{ form.image }}
            {{ form.edit_ticket }}

        </p>
            {% csrf_token %}
            <div class="posting-button">
                <button type="submit">Publier</button>
            </div>
</form>

{% endblock content %}
