{% extends 'base.html' %}
{% load review_extras %}
{% block content %}
    <h2>Créer une critique</h2>
    <div class="review">
        <div class="bloc__user-date">
            <div class="bloc__user">
                <p>
                    {% get_poster_display ticket.user 'ticket' %}
                </p>
            </div>
            <div class="bloc__date">
                <p>
                    {{ ticket.time_created }}
                </p>
            </div>
        </div>
        <div>
                <p>
                    {{ ticket.title}}
                </p>
        </div>
        <div>
            <p>
                {{ticket.description }}
            </p>
        </div>

        <div class="bloc__cover">
            <img src="{{ ticket.image.url }}">
        </div>

    </div>

    <form class="posting-form" method="post" enctype="multipart/form-data">
            {{ review_form.as_p }}
            {% csrf_token %}
            <div class="bloc__btns">
                <button type="submit">Publier</button>
            </div>
    </form>
{% endblock content %}
