.posting-form{
    width: 80vw;
    max-width: 700px;
    @include flex-column;
    padding-bottom: 20px;

}

.form-user{
    position:relative;
    width: 80vw;
    @include flex-row(center, space-between);
    line-height: 3vh;
    ul{
        display: none;
    }

    p{
        width: 85%;
        @include flex-row(center, space-around);
    }

    &__add{
        background-color: $site-color-field;
        width: 75%;

    }

    select{
        margin-right: 1.5vw;
    }

}
