{% load static %}
<html lang="fr">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="{% static 'login.css' %}">
    <title>LITReview</title>
</head>
<body>
    <div class="container">
        <div class="logo">
            <img src="{% static '/img/logo.png' %}" alt="">
        </div>
        <div class="content">
            <div class="register-login">
                {% if form.errors %}
                    {{ form.username.errors }}
                    {{ form.password1.errors }}
                    {{ form.password2.errors }}
                {% endif %}
                <p>Je crée mon compte</p>
                <form method="post">
                    {{ form.username }}
                    <br>
                    {{ form.password1}}
                    <br>
                    {{ form.password2 }}

                    {% csrf_token %}
                    <div class="register-button">
                        <a class="bouton" href="{% url 'login' %}">Retourner</a>
                        <button type="submit">S'inscrire</button>
                    </div>
                </form>
            </div>
        </div>
    </div>
</body>
</html>
